<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dber.customer.mapper.ICustomerMapper">

    <select id="get" resultType="Customer">
		select * from customer where id=#{id}
	</select>

    <delete id="del">
		delete from customer where id = #{id}
	</delete>

    <select id="gets" resultType="Customer">
        SELECT * FROM customer WHERE id IN
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
    </select>

    <sql id="maxLimit">
		limit 1000
	</sql>

    <delete id="dels">
        delete from customer where id in
        <foreach item="item" index="index" collection="array" open="("
                 separator="," close=")">#{item}
        </foreach>
        <include refid="maxLimit"></include>
    </delete>

    <delete id="delByCondition">
        delete from customer
        <include refid="where"></include>
    </delete>

    <sql id="insertList">
		(
		<trim suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="elementMedalId!=null">
				element_medal_id,
			</if>
			<if test="status!=null">
				_status,
			</if>
			<if test="holidayCount!=null">
				holiday_count,
			</if>
			<if test="fitnessCount!=null">
				fitness_count,
			</if>
			<if test="score!=null">
				score,
			</if>
		</trim>
		) values (
		<trim suffixOverrides=",">
			<if test="id!=null">
				#{id},
			</if>
			<if test="elementMedalId!=null">
				#{elementMedalId},
			</if>
			<if test="status!=null">
				#{status},
			</if>
			<if test="holidayCount!=null">
				#{holidayCount},
			</if>
			<if test="fitnessCount!=null">
				#{fitnessCount},
			</if>
			<if test="score!=null">
				#{score},
			</if>
		</trim>

		)
	</sql>

    <!-- 注意检查非空和主键自增属性 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert
        into customer
        <include refid="insertList"></include>
    </insert>

    <update id="update">
        update customer
        <set>
            			<if test="elementMedalId != null ">
				element_medal_id=#{elementMedalId},
			</if>
			<if test="status != null ">
				_status=#{status},
			</if>
			<if test="holidayCount != null ">
				holiday_count=#{holidayCount},
			</if>
			<if test="fitnessCount != null ">
				fitness_count=#{fitnessCount},
			</if>
			<if test="score != null ">
				score=#{score},
			</if>

        </set>
        where id = #{id}
    </update>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <!-- 不包含数据库类型为TIMESTAMP（由数据库自动管理）的列 -->
        insert into customer
        <include refid="insertList"></include>
        ON DUPLICATE KEY
        UPDATE
        <trim suffixOverrides=",">
            			<if test="elementMedalId != null ">
				element_medal_id=values(element_medal_id),
			</if>
			<if test="status != null ">
				_status=values(_status),
			</if>
			<if test="holidayCount != null ">
				holiday_count=values(holiday_count),
			</if>
			<if test="fitnessCount != null ">
				fitness_count=values(fitness_count),
			</if>
			<if test="score != null ">
				score=values(score),
			</if>

        </trim>
    </insert>

    <sql id="queryList">
		select id,element_medal_id,_status,holiday_count,fitness_count,score,create_time,modify_time from
		customer
	</sql>

    <sql id="where">
        <trim prefix="WHERE" prefixOverrides="AND">
            			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="elementMedalId != null">
				AND element_medal_id=#{elementMedalId}
			</if>
			<if test="status != null">
				AND _status=#{status}
			</if>
			<if test="holidayCount != null">
				AND holiday_count=#{holidayCount}
			</if>
			<if test="fitnessCount != null">
				AND fitness_count=#{fitnessCount}
			</if>
			<if test="score != null">
				AND score=#{score}
			</if>
			<if test="createTime != null">
				AND create_time=#{createTime}
			</if>
			<if test="modifyTime != null">
				AND modify_time=#{modifyTime}
			</if>

        </trim>
    </sql>

    <select id="query" resultType="Customer">
        <include refid="queryList"></include>
        <include refid="where"></include>
    </select>

    <select id="queryWithoutPage" resultType="Customer">
        <include refid="queryList"></include>
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

    <select id="queryOne" resultType="Customer">
        select * from customer
        <include refid="where"></include>
        limit 1
    </select>

    <select id="has" resultType="int">
        select 1 from customer
        <include refid="where"></include>
        limit 1
    </select>

    <select id="count" resultType="int">
        select count(*) from customer
        <include refid="where"></include>
    </select>

    <select id="getIds" resultType="long">
        select id from customer
        <include refid="where"></include>
        <include refid="maxLimit"></include>
    </select>

</mapper>
